body {
  width: 784px;
  padding: 12px;
  margin: 0;
  border: 4px solid #e3adad;
  box-sizing: border-box;
  border-radius: 8px 2px 2px 8px;
}

.t {
  border: 10px solid black;
}

.mr-4 {
  margin-right: 4px;
}

.w60 {
  width: 60px;
  display: inline-block;
}

.w62 {
  width: 60px;
  display: inline-block;
}

.legend {
  font-size: 16px;
  font-weight: 600;
  margin-left: 4px;
  padding: 0 8px;
}

.mla {
  margin-left: auto;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.listHeader {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  margin-bottom: 8px;
}

button {
  margin-top: 8px;
  padding: 4px;
  border: 1px solid cornflowerblue;
  box-sizing: border-box;
  transition: opacity 0.16s;
}

.btnAccept {
  width: 180px;
  color: white;
  border: 2px solid green;
  background-color: green;
  transition: opacity 0.16s;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.timeRow {
  display: flex;
  gap: 16px;
}

.formRow {
  margin: 2px 0;
  font-size: 18px;
}

.daysRow {
  display: flex;
  align-items: center;
}

.days {
  margin-left: 4px;
  display: flex;
  align-items: center;
  height: 19px;
  gap: 8px;
}

.days > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.days > label > input {
  margin: 2px 4px 2px 2px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.inputForm {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#reminderTitle {
  width: 330px;
  padding: 4px;
  font-size: 14px;
}

.reminderTitle {
  text-transform: capitalize;
}

.reminderInfo {
  display: flex;
  font-size: 16px;
  gap: 8px;
}

.reminderDetails {
  display: flex;
  margin: 8px 0;
  gap: 8px;
}

.currentTime {
  margin-bottom: 8px;
  font-size: 16px;
}

aside {
  position: fixed;
  right: 24px;
  top: 14px;
}

.reminderActions {
  margin-left: auto;
}

.toggleBtn, .deleteBtn {
  width: 70px;
}
