body {
  width: 784px;
  height: 584px;
  padding: 12px;
  margin: 0;
  border: 4px solid #e3adad;
  box-sizing: border-box;
  border-radius: 8px;
}

.t {
  border: 10px solid black;
}

h3 {
  margin: 0;
}

button {
  margin-top: 12px;
  border: 2px solid cornflowerblue;
  box-sizing: border-box;
}

.inputForm {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
